@import "tailwindcss";
/* @import "tw-animate-css"; */

@tailwind utilities;

html {
  @apply w-full h-full;

  scroll-behavior: smooth;

  font-size: calc(100vw / (1440 * 1));

  @media screen and (min-width: 641px) {
    font-size: calc(100vw / (1440 * 1));
  }

  @media screen and (max-width: 640px) {
    font-size: calc(100vw / (428 * 1));
  }
}

body {
  @apply w-full h-full bg-[#060916] overflow-x-hidden;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  @apply hidden;
}
.react-international-phone-country-selector-button {
 @apply w-[50rem] h-[50rem];

 &:hover {
    background: none !important;
  }

  @media screen and (min-width: 641px) {
    @apply w-[50rem] h-[50rem];
  }
}
.react-international-phone-input {
  background: linear-gradient(
      0deg,
      #353746 0%,
      #16171E 64%,
      #16171E 100%  
    ) !important;
    padding: 0 15rem !important;
}
.react-international-phone-country-selector-dropdown {
  /* @apply w-[100%] h-[100%] bg-transparent; */
/* position: absolute !important;
top: 45rem !important;
left: 0 !important;
width: 100% !important;
height: 100% !important;
background: transparent !important;
border: none !important;
border-radius: 0 !important;
box-shadow: none !important;
padding: 0 !important;
margin: 0 !important; */
}