@import "tailwindcss";
/* @import "tw-animate-css"; */

@tailwind utilities;

html {
  @apply w-full h-full;

  scroll-behavior: smooth;

  font-size: calc(100vw / (1440 * 1));

  @media screen and (min-width: 641px) {
    font-size: calc(100vw / (1440 * 1));
  }

  @media screen and (max-width: 640px) {
    font-size: calc(100vw / (428 * 1));
  }
}

body {
  @apply w-full h-full bg-[#060916] overflow-x-hidden;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  @apply hidden;
}
.react-international-phone-country-selector-button {
 @apply w-[50rem] h-[50rem];

  @media screen and (min-width: 641px) {
    @apply w-[50rem] h-[50rem];
  }
}
.react-international-phone-country-selector-button {
  &:hover {
    background: none !important;
  }
}
.react-international-phone-input {
  background: linear-gradient(
      0deg,
      #353746 0%,
      #16171E 64%,
      #16171E 100%  
    ) !important;
    padding: 0 15rem !important;
}