@import "tailwindcss";
/* @import "tw-animate-css"; */

@tailwind utilities;

html {
  @apply w-full h-full;

  scroll-behavior: smooth;

  font-size: calc(100vw / (1440 * 1));

  @media screen and (min-width: 641px) {
    font-size: calc(100vw / (1440 * 1));
  }

  @media screen and (max-width: 640px) {
    font-size: calc(100vw / (428 * 1));
  }
}

body {
  @apply w-full h-full bg-[#060916];
}