@reference "tailwindcss";

.exfm_wrapper {
  @apply w-full h-full relative z-0;
  

  @media screen and (width >= 1920px) {
    @apply w-[1920px] h-full mx-auto;
 
     &::before {
      content: '';
      @apply w-[330rem] h-[4495px] absolute top-0 left-[-30px] z-1;
      background: linear-gradient(90deg, #070b1b 30%, rgba(7, 11, 27, 0) 70%);
       filter: blur(10px);
    }

    &::after {
      content: '';
      @apply w-[150rem] h-[4495px] absolute top-0 right-[-20rem] rotate-180;
      background: linear-gradient(90deg, #070b1b 30%, rgba(7, 11, 27, 0) 70%);
      filter: blur(10px);
    } }
}