@reference "tailwindcss";

.hero__form {
  @apply w-full h-full fixed top-0 left-0 z-10;
  
  backdrop-filter: blur(6rem);
  background-color: rgba(0, 0, 0, 0.6);
  
  
  font-family: "Montserrat", sans-serif;
} 
.hero__form_inner {
  @apply w-full h-[520rem] relative top-1/2 -translate-y-1/2 left-0 z-0 bg-[#16171E] overflow-hidden mt-[-22rem];

  &::before {
    content: '';

    background: radial-gradient(
      circle at center,
      rgba(235, 139, 12, 5) 0%,
      rgba(218, 119, 11, 0.6) 35%,
       rgba(150, 40, 5, 0) 60%);
    @apply w-[600rem] h-[700rem] rounded-full absolute top-1/2 -right-[85%] z-[1] opacity-20;

  }
  &::after {
    content: '';
    
    background: radial-gradient(
      circle at center,
      rgba(235, 139, 12, 1) 0%,
      rgba(218, 119, 11, 0.4) 0%,
       rgba(150, 40, 5, 0) 50%);

    @apply w-[530rem] h-[670rem] rounded-full absolute -top-[85%] -left-[50%] z-[1];
  }

  @media screen and (min-width: 641px) {
   @apply w-[650rem] h-[620rem] relative top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-0 bg-[#16171E] overflow-hidden ml-[8rem];
  }
  
}
.hero__form_progress__wrapper {
  @apply w-[400rem] h-[10rem] bg-white rounded-full mt-[48rem] sm:mt-[57rem] mx-auto border-[1rem] border-[#494B54] relative;

     background: linear-gradient(
        0deg,
        #16171E 0%,
        #353746 50%,
        #16171E 100%
      );

  &__line {
    @apply w-1/2 h-[8rem] bg-amber-700/50 rounded-full absolute top-1/2 -translate-y-1/2 left-0;
    box-shadow: 0 0 20rem rgba(255, 255, 255, 0.1);
  }

  @media screen and (min-width: 641px) {
   @apply w-[526rem] h-[10rem] bg-white rounded-full mt-[48rem] sm:mt-[57rem] mx-auto border-[1rem] border-[#494B54] relative;

     background: linear-gradient(
        0deg,
        #16171E 0%,
        #353746 50%,
        #16171E 100%
      );

  &__line {
    @apply w-1/2 h-[8rem] bg-amber-700/50 rounded-full absolute top-1/2 -translate-y-1/2 left-0;
    box-shadow: 0 0 20rem rgba(255, 255, 255, 0.1);
  }
  }
}
.hero__form_title {
  @apply text-[24rem] text-white font-semibold leading-[118%] text-center w-full z-[1] mt-[40rem] tracking-[-0.3rem];

  @media screen and (min-width: 641px) {
   @apply text-[33rem] text-white font-semibold leading-[110%] text-center w-full z-[1] mt-[50rem];
  }
}
.hero__form_content {
  @apply w-[400rem] h-full mt-[34rem] mx-auto flex flex-col gap-[22rem] relative z-[2]  ;

  @media screen and (min-width: 641px) {
   @apply w-[524rem] h-full mt-[52rem] mx-auto flex flex-col gap-[32rem] relative z-[2]  ;
  }

  input {
    @apply w-full h-[45rem] text-[14rem] text-white border-[1rem] border-[#494B54] rounded-[5rem] px-[19rem] py-[10rem] outline-none placeholder:text-[#B5B5B5] placeholder:text-[14rem];
    
    background: linear-gradient(
      0deg,
      #16171E 0%,
      #353746 50%,
      #16171E 100%
    );
  }

 

  @media screen and (min-width: 641px) {
    input {
    @apply w-full h-[47rem] text-white text-[14rem] border-[1rem] border-[#494B54] rounded-[7rem] px-[26rem] py-[10rem] outline-none placeholder:tracking-[16%] placeholder:text-[#B5B5B5] placeholder:text-[14rem];
    
    }
  }
}
.phone__input {
    background: linear-gradient(
      0deg,
      #353746 0%,
      #16171E 64%,
      #16171E 100%  
    );

    * {
       @apply relative z-[20];
    }
}
.button__sparkle_1 {
  // @apply w-[11rem] h-[11rem] rounded-full absolute top-[20rem] left-[40rem];

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
        @apply w-[8rem] h-[8rem] rounded-full absolute bottom-[76rem] left-[153rem] -translate-x-1/2;
      }
}
.button__sparkle_2 {
  // @apply w-[11rem] h-[11rem] rounded-full absolute top-[20rem] left-[40rem];

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
        @apply w-[13rem] h-[13rem] rounded-full absolute bottom-[36rem] left-1/2 -translate-x-1/2;
      }
}
.button__sparkle_3 {
  // @apply w-[11rem] h-[11rem] rounded-full absolute top-[20rem] left-[40rem];

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
        @apply w-[11rem] h-[11rem] rounded-full absolute bottom-[47rem] right-[178rem] -translate-x-1/2;
      }
}
.button__sparkle_4 {
  // @apply w-[11rem] h-[11rem] rounded-full absolute top-[20rem] left-[40rem];

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
@apply w-[11rem] h-[11rem] rounded-full absolute bottom-[149rem] right-[188rem] -translate-x-1/2;
      }
}
